@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547; /* Change text to a dark color */
  background-color: #ffffff; /* Add white background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
}



@layer components {
  .iFlex-center {
    @apply inline-flex justify-center items-center gap-2;

  }

  .flex-center {
    @apply flex justify-center items-center gap-2;
  }
}

